@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

:root {
  --rowdies: "Rowdies", serif;
}

@layer reset, base, tokens, recipes, utilities;

@layer reset {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, sans-serif;
    transition:
      background-color 0.2s ease,
      color 0.2s ease;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}
