---
import Header from "@/components/Header.astro"
import Navbar from "@/components/Navbar"

const { title } = Astro.props
---

<html lang="fr" transition:name="root" transition:animate="fade" >
  <head>
	<title>TaxDOM | Blog</title>
	<Header title={title} description="cc"/>
  <script is:inline>
    (function () {
      try {
        const theme = localStorage.getItem('theme') || 'light'
        document.documentElement.classList.add(theme)
      } catch (e) {
        document.documentElement.classList.add('light')
      }
    })()
  </script>
  </head>
  <body>
    <Navbar client:load />
    <section class="container">
      <slot />
    </section>
  </body>
</html>

<style>
  .container {
    max-width: 1300px;
      margin: 0 auto;
    padding: 0 20px;
  }
</style>

