<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>TaxDOM | Blog</title>
	</head>
	<body>
		<slot />
	</body>
</html>

