# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
SESSION_DRIVER=cookie
LIMITER_STORE=memory
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
TRUSTED_APP_ORIGIN_URL=
TRUSTED_DASHBOARD_ORIGIN_URL=
DB_URL=

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3333

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# MeiliSearch
MEILI_HOST=http://localhost:7700
MEILI_MASTER_KEY=
MEILI_ENV=development
